@charset "utf-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {


  background-image: linear-gradient(to bottom, #00633E, #308C4D);
}

main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #004b2d;
}

h1{
  color: #243F7F;
  text-align: center;
  text-shadow: 1px 1px 2px #0e1830;
}

h2{
  color: #F2A516;
}

p{
  text-align: justify;
}